*{
    margin: 0;
    font-family: sans-serif;
}
body{
    padding: 12px;
}
.title{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: brown;
}
.btnStart{
    float: left;
    width: 20%;
    height: 40px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
}
.btnStop{
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
 }
 .activeStart{
    background-color: aquamarine;
 }
 .inactiveStart{
    background-color: gray;
 }
 .activeStop{
    background-color: red;
 }
 .inactiveStop{
    background-color: gray;
 }
 /*....Body...*/
.body{
        clear: both;
        margin-top: 50px;
}
.red{
    color: red;
}
.question-block{
    float: left;
    width: 40%;
}
.answer-block{
    float: left;
    width: 40%;
    margin-left: 40px;
}

.ok{
    float: right;
    width: 40%;
    color: white; 
    background-color: blueviolet;
    height: 25px;
}
.list{
    clear: both;
}